*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
/*video{
    width: 30%;
    padding-left:35%;
    padding-right:auto;
    position:absolute;
    bottom:0;
    border-radius: 10px;
}*/
video{
  width: 100vw;
  height: 100vh;
  object-fit:fill;
  position: fixed;
  bottom:0;
  right: 0;
  z-index: -1;
}

.glow {
    padding-top:7%;
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7619a1, 0 0 40px #7619a1, 0 0 50px #7619a1, 0 0 60px #7619a1, 0 0 70px #7619a1;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ae00ff, 0 0 40px #ae00ff, 0 0 50px #ae00ff, 0 0 60px #ae00ff, 0 0 70px #ae00ff, 0 0 80px #ae00ff;
    }
  }